<nav class="navbar navbar-expand-lg navbar-light bg-success" role="">
  <div class="text-center display-4" style="margin: auto">{{title}}</div>
    <div class=""></div>

</nav>

<div class="container" role="main" style="margin-top: 5%; margin-left: 5%">

<div class="row" style="height: 200px">
  <div class="col-sm-4 " style="border-right: black 1px solid;">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#inscriptionModal">
      {{inscription}}
    </button>
    <br>
    <br>
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#listCoursModal">
      {{listCours}}
    </button>
    <br>
    <br>
    <button type="button" class="btn btn-success btn-lg" (click)="exportList()">
      {{exporter}}
    </button>
  </div>
  <div class="col-sm-8">
  </div>
</div>
<app-register-form></app-register-form>
  <app-horaire-cours></app-horaire-cours>
  <div *ngIf="isExported" class="alert alert-success" role="alert">
    Super! vos données sont exportées en csv
  </div>
</div>
<router-outlet></router-outlet>
