<div class="modal fade " id="listCoursModal" tabindex="-1" role="dialog" aria-labelledby="listCoursModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listCoursModalLabel">Inscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Cours</th>
          <th scope="col">Prof</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of classes; let i = index">
          <th scope="row" >{{i}}</th>
          <td>{{item.name}}</td>
          <td>{{item.professeur.firstname+' '+item.professeur.lastname}}</td>
          <td><button class="btn btn-success" > voir plus</button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>


