<div class="modal fade " id="inscriptionModal" tabindex="-1" role="dialog" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inscriptionModalLabel">Inscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" action="">
        <div class="modal-body">
          <div class="form-group">
            <label> Prénom </label>
            <input class="form-control" type="text" placeholder="Prénom" [formControl]="prenom" required>
          </div>
          <div class="form-group">
            <label> Nom </label>
            <input class="form-control" type="text" placeholder="Nom" [formControl]="nom" required>
          </div>
          <div class="form-group">
            <label for="diplomeSelect">Diplôme</label>
            <select class="custom-select " id="diplomeSelect" [formControl]="diplome" required>
              <option selected>Sélectionner...</option>
              <option *ngFor="let diplome of diplomes"  [ngValue]="diplome">{{diplome}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="majeureSelect">Spécialité</label>
            <select class="custom-select " id="majeureSelect" [formControl]="majeure" required >
              <option selected>Sélectionner...</option>
              <option *ngFor="let majeure of majeures" [ngValue]="majeure">{{majeure}}</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{close}}</button>
          <button class="btn btn-primary" (click)="onClick()" data-dismiss="modal">{{inscription}}</button>
        </div>
      </form>

    </div>
  </div>
</div>


